<header class="container-fluid" style="height: 60px">
    <div class="row h-100">
        <div class="logo col d-none d-lg-block col-lg-3 py-3 px-3 fd-bg-secondary">
            <h5 class="text-muted mb-0">LOGO</h5>
        </div>
        <div class="header-nav col col-12 col-lg-9 shadow-sm row justify-content-between align-items-center">
            <div class="col col-4 d-flex gap-3">
                <div class="align-items-center bars-lg d-none d-lg-block"><a href="javascript:void(0)" class="text-black"><i
                            class="mdi mdi-menu mdi-24px"></i></a></div>
                <div class="align-items-center bars-mobile d-block d-lg-none"><a href="javascript:void(0)" class="text-black"><i
                                class="mdi mdi-menu mdi-24px"></i></a></div>
                <div class="align-items-center d-none d-lg-flex fd-bg-silver border border-1" style="border-radius: 40px;">
                    <a href="javascript:void(0)" class="d-block text-black w-25 text-center"><i
                            class="mdi mdi-magnify"></i></a>
                    <input type="text" name="query" placeholder="Search..."
                        class="form-control w-75 border-0 pe-0 bg-inherit btn-outline-light"
                        style="border-radius: 0px 35px;">
                </div>
            </div>
            <div class="logo-mobile col d-block d-lg-none">
                <h5 class="text-muted m-0">LOGO</h5>
            </div>
            <div class="col col-5 d-flex gap-3 justify-content-end">
                <div class="d-none d-lg-block align-self-center notify-icon"><a href="javascript:void(0)" class="text-black"><i
                            class="mdi mdi-bell-badge-outline mdi-18px"></i></a></div>
                <div class="d-none d-lg-block align-self-center notify-icon"><a href="javascript:void(0)" class="text-black"><i
                            class="mdi mdi-message-badge-outline mdi-18px"></i></a></div>
                <a href="javascript:void(0)" data-timetable-page={% url 'user-account' %} class="d-block text-black profile d-flex gap-2 mx-3">
                    <div class="align-self-center"><img src="/media/images/{{ user.image_path }}" alt="Avatar" class="profile-img"></div>
                    <div class="d-none d-lg-block">{{ user.firstname }} {{ user.lastname }} <br>
                        <span class="small fd-color-primary">{{ user.role.label }}</span>
                    </div>
                </a>
                <div><a href="javascript:void(0)" class="text-black logout-btn"><i class="mdi mdi-logout mdi-18px"></i></a></div>
            </div>
        </div>
    </div>
</header>