<header class="bg-white container-fluid shadow" style="height : 60px">
    <div class="row h-100 align-items-center">
        <div class="logo h-100 col col-3 d-flex justify-content-between align-items-center">
            <h5 class="text-muted">LOGO</h5>
            <div><a href="javascript:void(0)" class="d-block shadow text-white fd-bg-primary px-2 py-1 rounded-2"><i
                        class="mdi mdi-menu"></i></a></div>
        </div>
        <div class="col col-4">
            <div class="position-relative opacity-75">
                <input type="text" name="query" class="form-control fd-bg-silver" placeholder="Rechercher ici ...">
                <!-- <span class="position-absolute top-50 start-5"><i class="mdi mdi-eye"></i></span> -->
            </div>
        </div>
        <div class="col col-5 d-flex gap-2 gap-lg-4 justify-content-end">
            <div class="align-self-center"><a href="#" class="text-dark"><i class="mdi mdi-bell-outline mdi-24px"></i></a></div>
            <div class="align-self-center"><a href="#" class="text-dark"><i class="mdi mdi-saw-blade mdi-24px"></i></a></div>
            <a href="" class="d-block profile d-flex gap-2">
                <div class="align-self-center"><i class="mdi mdi-account-circle-outline mdi-36px"></i></div>
                <div>
                    <span class="text-muted">Pierre ZOHOU</span><br>
                    <span class="fd-color-primary">Administrateur</span>
                </div>
            </a>
        </div>
    </div>
</header>