<div>
    <div class="d-flex justify-content-between">
        <div class="page-title">
            <h4>Dashboard</h4>
        </div>
        <div class="page-path">
            <a href={% url 'admin-dashboard' %} class="text-black">Home</a>
            <span class="mx-1">/</span>
            <a href="javascript:void(0)" class="text-black">Dash</a>
        </div>
    </div>
    {% if user.role.id == 1 %}
        <div class="my-3 d-grid grid-2 grid-lg-4 gap-2">
            <div class="card col border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
                <div class="row row-cols-2 justify-content-between">
                    <div class="info align-self-center">
                        <h6 class="text-muted">Etudiants</h6>
                        <h5>{{ total_students }}</h5>
                    </div>
                    <div>
                        <div class="card-img p-2 text-center">
                            <img src="/static/img/dash-icon-01.svg" alt="student">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
                <div class="row row-cols-2 justify-content-between">
                    <div class="info align-self-center">
                        <h6 class="text-muted">Professeurs</h6>
                        <h5>{{ total_teachers }}</h5>
                    </div>
                    <div>
                        <div class="card-img p-2 text-center">
                            <img src="/static/img/teacher.svg" alt="student">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
                <div class="row row-cols-2 justify-content-between">
                    <div class="info align-self-center">
                        <h6 class="text-muted">Cours</h6>
                        <h5>{{ total_subjects }}</h5>
                    </div>
                    <div>
                        <div class="card-img p-2 text-center">
                            <img src="/static/img/books.svg" alt="student">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
                <div class="row row-cols-2 justify-content-between">
                    <div class="info align-self-center">
                        <h6 class="text-muted">Salles</h6>
                        <h5>{{ total_classrooms }}</h5>
                    </div>
                    <div>
                        <div class="card-img p-2 text-center">
                            <img src="/static/img/dash-icon-03.svg" alt="student">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="graph row mt-5">
            <div class="bg-white col col-12 col-lg-8 p-3 rounded-3 shadow-sm">
                <h5 class="text-muted">Statistique</h5>
                <canvas id="graph-viewer"></canvas>
            </div>
            <div class="col col-12 col-lg-4 mt-4 mt-lg-0">
                <h5 class="text-muted mb-3">Les réseaux sociaux</h5>
                <div class="d-flex flex-column gap-3">
                    <div class="card col fd-bg-primary border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
                        <div class="row row-cols-2 justify-content-between">
                            <div class="info text-white align-self-center text-white">
                                <h6>Like us on facebook</h6>
                                <h5>3000</h5>
                            </div>
                            <div>
                                <div class="card-social py-3 rounded-3 text-center">
                                    <img src="/static/img/social-icon-01.svg" alt="student">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col fd-bg-blue border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
                        <div class="row row-cols-2 justify-content-between">
                            <div class="info text-white align-self-center">
                                <h6>Like us on twitter</h6>
                                <h5>20+</h5>
                            </div>
                            <div>
                                <div class="card-social py-3 rounded-3 text-center">
                                    <img src="/static/img/social-icon-02.svg" alt="student">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card col fd-bg-primary border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
                        <div class="row row-cols-2 justify-content-between">
                            <div class="info text-white align-self-center">
                                <h6>Like us on Linkedin</h6>
                                <h5>45</h5>
                            </div>
                            <div>
                                <div class="card-social py-3 rounded-3 text-center">
                                    <img src="/static/img/social-icon-04.svg" alt="student">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col fd-bg-orange border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
                        <div class="row row-cols-2 justify-content-between">
                            <div class="info text-white align-self-center">
                                <h6>Like us on Instagram</h6>
                                <h5>1000</h5>
                            </div>
                            <div>
                                <div class="card-social py-3 rounded-3 text-center">
                                    <img src="/static/img/social-icon-03.svg" alt="student">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="my-3 d-grid grid-0 grid-lg-4 gap-2">
            <div class="card col border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
                <div class="row row-cols-2 justify-content-between">
                    <div class="info align-self-center">
                        <h6 class="text-muted">Cours cette semaine</h6>
                        <h5>{{ total_students }}</h5>
                    </div>
                    <div>
                        <div class="card-img p-2 text-center">
                            <img src="/static/img/dash-icon-01.svg" alt="student">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
                <div class="row row-cols-2 justify-content-between">
                    <div class="info align-self-center">
                        <h6 class="text-muted">Nombre d'heures cette semaine</h6>
                        <h5>{{ total_teachers }}</h5>
                    </div>
                    <div>
                        <div class="card-img p-2 text-center">
                            <img src="/static/img/teacher.svg" alt="student">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
                <div class="row row-cols-2 justify-content-between">
                    <div class="info align-self-center">
                        <h6 class="text-muted">Cours</h6>
                        <h5>{{ total_subjects }}</h5>
                    </div>
                    <div>
                        <div class="card-img p-2 text-center">
                            <img src="/static/img/books.svg" alt="student">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
                <div class="row row-cols-2 justify-content-between">
                    <div class="info align-self-center">
                        <h6 class="text-muted">Salles</h6>
                        <h5>{{ total_classrooms }}</h5>
                    </div>
                    <div>
                        <div class="card-img p-2 text-center">
                            <img src="/static/img/dash-icon-03.svg" alt="student">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
    
</div>
{% include './dash_script.html' %}