<div class="d-flex justify-content-between">
    <div class="page-title">
        <h4>Professeurs</h4>
    </div>
    <div class="page-path">
        <a href="/" class="text-black">Home</a>
        <span class="mx-1">/</span>
        <a href='#' class="text-black">Teachers</a>
    </div>
</div>
<div class="mt-5">
    <div class="mb-3 text-end">
        <button class="btn fd-bg-primary text-white  shadow-sm">Ajouter un professeur</button>
    </div>
    <table id="table" class="table table-striped fw-light" style="width: 100%">
        <thead>
            <tr>
                <th class="text-center">Nom</th>
                <th class="text-center">Prénom(s)</th>
                <th class="text-center">Phone</th>
                <th class="text-center">Email</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Les données des cours seront ajoutées ici dynamiquement -->
        </tbody>
    </table>
</div>
<script>

    $(document).ready(function () {

        const tests = [
            { lastname: "John", firstname: "SALAOU",  phone: '+22996457545', email: "test@example.com"},
            { lastname: "Michael", firstname: "Malcom",  phone: '+22996457545', email: "test@example.com"},
            { lastname: "Jennifer", firstname: "lAWSOM",  phone: '+22996457545', email: "test@example.com"},
            { lastname: "Kabirou", firstname: "KABA",  phone: '+22996457545', email: "test@example.com"},
            { lastname: "LISA", firstname: "GILES", phone: '+22996457545',  email: "test@example.com"}
        ];
        // Initialiser DataTables
        $('#table').DataTable({
            data: tests,
            columns: [
                { data: 'lastname' },
                { data: 'firstname' },
                { data: 'phone' },
                { data: 'email' },
                {
                    data: null,
                    render: function (data, type, row) {
                        return `
                            <div class="d-flex gap-2 justify-content-center">
                                <button class="btn fd-bg-primary text-white rounded-4">
                                <i class="mdi mdi-pen"></i>
                                </button>
                                <button class="btn bg-danger text-white rounded-4">
                                    <i class="mdi mdi-trash-can"></i>
                                </button>
                            </div>
                        `;
                    }
                }
            ]
        }
        );
    });

</script>