{% extends "includes/crud.html" %}
{% block modalForm %}
<div class="row row-cols-1 row-cols-lg-2 flex-wrap">
    <div class="form-group">
        <label class="position-relative text-muted w-100">Lastname
            <input name="lastname" type="text" class="form-control" required>
            <span class="position-absolute top-50 end-5"><i class="mdi mdi-account-circle"></i></span>
        </label>
    </div>
    <div class="form-group mt-3 mt-lg-0">
        <label class="position-relative text-muted w-100">Firstname
            <input name="firstname" type="text" class="form-control" required>
            <span class="position-absolute top-50 end-5"><i class="mdi mdi-account-circle"></i></span>
        </label>
    </div>
</div>
<div class="form-group my-3">
    <label class="position-relative text-muted w-100">Email
        <input name="email" type="email" class="form-control" required>
        <span class="position-absolute top-50 end-5"><i class="mdi mdi-email"></i></span>
    </label>
</div>
<div class="form-group">
    <div class="form-group">
        <label class="position-relative text-muted w-100">Phone
            <input name="phone" type="tel" class="form-control">
            <span class="position-absolute top-50 end-5"><i class="mdi mdi-phone"></i></span>
        </label>
    </div>
</div>
{% endblock %}

{% block pageName %} Professeurs {% endblock %}
{% block pathName %} Teachers {% endblock %}

{% block tableHead %}

    <th class="text-center">Nom</th>
    <th class="text-center">Prénom(s)</th>
    <th class="text-center">Phone</th>
    <th class="text-center">Email</th>
    <th class="text-center">Actions</th>

{% endblock %}

{% block actionURL %}

    {% url 'admin-teachers' %}

{% endblock %}

{% block data %}
 {{ users | safe }}
{% endblock data %}
{% block columns %}
    {data : 'lastname'},
    {data : 'firstname'},
    {data : 'phone'},
    {data : 'email'},
{% endblock %}