{% extends '../includes/auth_base.html' %}
{% block content %}
    <div class="container-fluid">

       <div class="container">
        <div class="login">
            <div class="content">
                <img src="login.png " alt="">
            </div>

            <div class="loginform">
                <h1>Welcom to Ifri</h1>
                <p>Need an account? <a href="">Sign Up</a></p>
                <h4>Sign in</h4>
                <form>
                      <div class="tbox">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABiElEQVRIS7WVgVHDMAxF2wmACSgTABuECYAJKBvABHQDYALKBMAEhAlaNigTABPAfzm7pxrZSXrEd7oktqwvfX8r49HAYzxw/FEXgDMlcSo7CkZOy2DPer6UkiwBVNr4IJu0VLnS+qWs9vxyADM53/Sk70r+9+keDwDH257Bo/u1Xu7s3hQAWl63DB63nVi6UgD43HcAvjUHbfOwNg3fO44vMQ7ivAVALU+Z7P+ULr8SledaR2EbMiW7iwzAnua/krVdfX9m/B81T5UbAGj78J8AiHWcAvxkgjPdl6J1bHsGJQDomckonQGVfENTbjSxLUCJokIcd+lds7SWzof8Id9atgrhJnpWMk/SuLiH7MkU/TNPcG8AghzT++DKlABkaLNCCVBXGlCxMA5US4XNaGsVc/mgoPQOxP0cMn1ragCKrQK/9IZGBb2ZasiafwS+VkmtzS4msk1H9e5K8Y9WCQ2KckqJycA5FNWGpvVr118mSoKW2ErQOYePgpqmlhtdAEr7W9cGB/gFF0hJGYa8DoAAAAAASUVORK5CYII="/>
                        <input type="text" placeholder="Username">
                      </div>

                      <div class="tbox">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABA0lEQVRIS2NkoDFgpLH5DMRaEAB0SD4QO0AddABINwIxiMYLiLFgAdCEeBymgCxpwGcDIQtALl8PNaAQSG+AshOAdD2U7YjPJ4QsAAWBPRCDDJ+A5lKQy0GWHARiB1y+IGTBf6hGQSD9Ac0QBSD/PlQMpznEWkBIHc5oIKQR5gNC6kiyABSe84EYFASkgAdAxYnoEY7NZSCF8qSYjKQWpFcRWS82C8gNFqz6RpYFsMgHBTFGZALFKA4i5MjHiExqW/AQSzKm2AcGQEPPQ5OgIZC+gJaUKbYAZB6+JDx4LACVmvxk5mSMuMGW0UDJcQEZxQXI8ARiyiIyHY9dG9nFMLGuAADkPTgZUGznOgAAAABJRU5ErkJggg=="/>
                        <input name="password" type="password " placeholder="Password" required>
                      </div>

                      <div class="check">
                        <label class="checkboo">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Remember me
                        </label>
                      </div>

                      <button class="btn">Login</button>
                </form>
                <ul class="social">
                    <li><img src="bxl-google-plus-circle.svg" alt=""></li>
                    <li><img src="bxl-facebook-square.svg" alt=""></li>
                    <li><img src="bxl-twitter.svg" alt=""></li>
                    <li><img src="bxl-linkedin-square.svg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
