<div>
    <div class="d-flex justify-content-between">
        <div class="page-title">
            <h4>Dashboard</h4>
        </div>
        <div class="page-path">
            <a href={% url 'admin-dashboard' %} class="text-black">Home</a>
            <span class="mx-1">/</span>
            <a href="javascript:void(0)" class="text-black">Dash</a>
        </div>
    </div>
    <div class="my-3 d-grid grid-0 grid-lg-4 gap-2">
        <div class="card col border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
            <div class="row row-cols-2 justify-content-between">
                <div class="info align-self-center">
                    <h6 class="text-muted">Cours cette semaine</h6>
                    <h5>{{ total_students_subjects }}</h5>
                </div>
                <div>
                    <div class="card-img p-2 text-center">
                        <img src="/static/img/books.svg" alt="student">
                    </div>
                </div>
            </div>
        </div>
        <div class="card col border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
            <div class="row row-cols-2 justify-content-between">
                <div class="info align-self-center">
                    <h6 class="text-muted">Heures cette semaine</h6>
                    <h5>{{ total_hours }}h</h5>
                </div>
                <div>
                    <div class="card-img p-2 text-center">
                        <i class="mdi mdi-clock mdi-36px"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
            <div class="row row-cols-2 justify-content-between">
                <div class="info align-self-center">
                    <h6 class="text-muted">Le plus chargé</h6>
                    <h5>{{ most }}</h5>
                </div>
                <div>
                    <div class="card-img p-2 text-center">
                        <img src="/static/img/books.svg" alt="student">
                    </div>
                </div>
            </div>
        </div>
        <div class="card col border border-1 rounded-3 p-3 container-fluid shadow-sm border-0">
            <div class="row row-cols-2 justify-content-between">
                <div class="info align-self-center">
                    <h6 class="text-muted mb-2">Le moins chargé</h6>
                    <h5>{{ least }}</h5>
                </div>
                <div>
                    <div class="card-img p-2 text-center">
                        <img src="/static/img/dash-icon-03.svg" alt="student">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>