<div class="d-flex justify-content-between">
    <div class="page-title">
        <h4>Emplois du Temps</h4>
    </div>
    <div class="page-path">
        <a href={% url 'admin-dashboard' %} class="text-black">Home</a>
        <span class="mx-1">/</span>
        <a href="javascript:void(0)" class="text-black">Emploi</a>
    </div>
</div>
<div class="timetable mt-5"></div>

<script>
    $(document).ready(() => {
        const timetable = new Timetable();

        timetable.setScope(7,19)

        const options = { onClick: function(event) {
            window.alert('You clicked on the ' + event.name + ' event in ' + event.location + '. This is an example of a click handler');
        }}

        timetable.addLocations(['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche']);

        {% for timetable in  timetables %}
            {% for day in timetable.days %}
                timetable.addEvent('{{ day.subject }} - {{ day.user }}', '{{ day.day_name }}', new Date( '{{ day.start_time }}' ), new Date( '{{ day.end_time }}' ), options);
            {% endfor %}
        {% endfor %}
        let renderer = new Timetable.Renderer(timetable);
        renderer.draw('.timetable');
    })
</script>
<style>
.time-entry { background-color: var(--fd-color-primary)!important; border: none!important}
</style>